In [9]:
my_name = "okan"
print(my_name)

okan

In [7]:
age=(37)
print(age)

37

In [10]:
julia_age=(32)
age_diff=(age-julia_age)
print(age_diff)

5

In [19]:
if (age<21):
    print("you are younger than 21")
else:
    print("you are older than 21")

you are older than 21

In [29]:
if (age<julia_age):
    print("you are younger than julia")
elif (age==julia_age):
     print("you are at same age as julia")
else:
    print("you are older than julia")

you are older than julia

In [36]:
names=["arjun","jost","killian","muayad","chris","lucas","milan","okan","robert","susan","yazdan"]
sorted(names)
print(names[0])
print(names[-1])
for x in (names):
    print(x)

arjun
yazdan
arjun
jost
killian
muayad
chris
lucas
milan
okan
robert
susan
yazdan

In [42]:
ages=[20,25,26,33,37,38]
for x in ages:
    print(x)
for x in ages:
    if (x % 2 == 0):
        print(x)

20
25
26
33
37
38
20
26
38

In [47]:
nbrs=[2,5,7,9,13,43,66,98]
y=nbrs[0]
for x in nbrs:
    if x<y:
        y=(x)
print(y)

2

In [50]:
nbrs=[100,2,5,7,9,13,43,66,98]
y=nbrs[0]
for x in nbrs:
    if x>y:
        y=(x)
print(y)

100

In [49]:
customer_bd=[1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
for x in customer_bd:
    print(2023-x)

24
28
18
13
16
17
29
27
44
15

In [135]:
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
for x in customer_list:
    print('Name is ',x["name"] ,'is', x["age"])

Name is  Bob is 1999
Name is  Jack is 1995
Name is  Lisa is 2005
Name is  Maria is 2010
Name is  Ben is 2007
Name is  Emma is 2006
Name is  Oscar is 1994
Name is  Amy is 1996
Name is  Paul is 1979
Name is  Etta is 2008

In [139]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
y=ages[0]
for x in ages:
    if x>y:
        y=(x)
ages.remove(y)
y=ages[0]
for x in ages:
    if x<y:
        y=(x)
ages.remove(y)
print(ages)

[20, 24, 14, 12, 13, 25, 23, 11]

In [140]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
com_ages = []
for x in berlin:
    for y in munich:
        if x==y:
            com_ages.append(y)
print(com_ages)

[15, 13, 16, 18, 19, 10]

In [146]:
rem_dups=[15,13,16,18,19,15,10]
y=rem_dups[0]
for x in rem_dups:
    if x==y:
        rem_dups.remove(y)
print(rem_dups)

[13, 16, 18, 19, 10]

In [154]:
def welcome(x):
    print("hello " + x+ " have a nice day")
welcome("asdasd")

hello asdasd have a nice day

In [158]:
def get_length(y):
    z=0
    for x in y:
        z=(z+1)
    print(z)

get_length("ahmet the dead terrorist")

24

In [160]:
def check_even(x):
    if x%2==0:
        print("yes")
    else:
        print("no")
check_even(7)

no

In [163]:
#ex18
#x12
def min_max_remove(ages):
    y=ages[0]
    for x in ages:
        if x>y:
            y=(x)
    ages.remove(y)
    y=ages[0]
    for x in ages:
        if x<y:
            y=(x)
    ages.remove(y)
print(ages)

[20, 24, 14, 12, 13, 25, 23, 11]

In [191]:
#13
def commons(berlin,munich):
    com_ages = []
    for x in berlin:
        for y in munich:
            if x==y:
                com_ages.append(y)
print(com_ages)

[15, 13, 16, 18, 19, 10]

In [197]:
#ex14
def remove_duplicates(rem_dups):
    y=rem_dups[0]
    for x in rem_dups:
        if x==y:
            rem_dups.remove(y)
    print(rem_dups)
zort=[3,3,4,5,6,7,7,8,9,]
remove_duplicates(zort)

[3, 4, 5, 6, 7, 7, 8, 9]

#Ex15
#15 itself is a function WTF!

In [204]:
#EX19
def wtf(x,y):
    g=("False")
    for z in x:
        if z==y:
            g=("True")
    print(g)

okan=["o","k","a","n"]
wtf(okan,"y")

False

In [251]:
#Optional exercises
#1

def cus_age(x):
    z=[]
    for y in x:
        z.append(2023-y)
    print(z)
asd=[1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
cus_age(asd)

[24, 28, 18, 13, 16, 17, 29, 27, 44, 15]

In [ ]:
()