In [8]:
my_name = "okan"
print(my_name)
print("github is not easy to use")

okan
github is not easy to use

In [7]:
age=(37)
print(age)

37

In [10]:
julia_age=(32)
age_diff=(age-julia_age)
print(age_diff)

5

In [19]:
if (age<21):
    print("you are younger than 21")
else:
    print("you are older than 21")

you are older than 21

In [29]:
if (age<julia_age):
    print("you are younger than julia")
elif (age==julia_age):
     print("you are at same age as julia")
else:
    print("you are older than julia")

you are older than julia

In [36]:
names=["arjun","jost","killian","muayad","chris","lucas","milan","okan","robert","susan","yazdan"]
sorted(names)
print(names[0])
print(names[-1])
for x in (names):
    print(x)

arjun
yazdan
arjun
jost
killian
muayad
chris
lucas
milan
okan
robert
susan
yazdan

In [42]:
ages=[20,25,26,33,37,38]
for x in ages:
    print(x)
for x in ages:
    if (x % 2 == 0):
        print(x)

20
25
26
33
37
38
20
26
38

In [47]:
nbrs=[2,5,7,9,13,43,66,98]
y=nbrs[0]
for x in nbrs:
    if x<y:
        y=(x)
print(y)

2

In [50]:
nbrs=[100,2,5,7,9,13,43,66,98]
y=nbrs[0]
for x in nbrs:
    if x>y:
        y=(x)
print(y)

100

In [49]:
customer_bd=[1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
for x in customer_bd:
    print(2023-x)

24
28
18
13
16
17
29
27
44
15

In [8]:
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
for x in customer_list:
    print('Name is ',x["name"] ,', ', (2023-x["age"]), 'years old.')

Name is  Bob ,  24 years old.
Name is  Jack ,  28 years old.
Name is  Lisa ,  18 years old.
Name is  Maria ,  13 years old.
Name is  Ben ,  16 years old.
Name is  Emma ,  17 years old.
Name is  Oscar ,  29 years old.
Name is  Amy ,  27 years old.
Name is  Paul ,  44 years old.
Name is  Etta ,  15 years old.

In [139]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
y=ages[0]
for x in ages:
    if x>y:
        y=(x)
ages.remove(y)
y=ages[0]
for x in ages:
    if x<y:
        y=(x)
ages.remove(y)
print(ages)

[20, 24, 14, 12, 13, 25, 23, 11]

In [140]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
com_ages = []
for x in berlin:
    for y in munich:
        if x==y:
            com_ages.append(y)
print(com_ages)

[15, 13, 16, 18, 19, 10]

In [146]:
rem_dups=[15,13,16,18,19,15,10]
y=rem_dups[0]
for x in rem_dups:
    if x==y:
        rem_dups.remove(y)
print(rem_dups)

[13, 16, 18, 19, 10]

In [154]:
def welcome(x):
    print("hello " + x+ " have a nice day")
welcome("asdasd")

hello asdasd have a nice day

In [158]:
def get_length(y):
    z=0
    for x in y:
        z=(z+1)
    print(z)

get_length("ahmet the dead terrorist")

24

In [160]:
def check_even(x):
    if x%2==0:
        print("yes")
    else:
        print("no")
check_even(7)

no

In [163]:
#ex18
#x12
def min_max_remove(ages):
    y=ages[0]
    for x in ages:
        if x>y:
            y=(x)
    ages.remove(y)
    y=ages[0]
    for x in ages:
        if x<y:
            y=(x)
    ages.remove(y)
print(ages)

[20, 24, 14, 12, 13, 25, 23, 11]

In [191]:
#13
def commons(berlin,munich):
    com_ages = []
    for x in berlin:
        for y in munich:
            if x==y:
                com_ages.append(y)
print(com_ages)

[15, 13, 16, 18, 19, 10]

In [13]:
#ex14
def remove_duplicates(rem_dups):
    y=rem_dups[0]
    for x in rem_dups:
        if x==y:
            rem_dups.remove(y)
        else:
            y=x
    print(rem_dups)
zort=[3,3,4,5,6,7,7,8,9,]
remove_duplicates(zort)

[3, 4, 5, 6, 7, 8, 9]

#Ex15
#15 itself is a function WTF!

In [204]:
#EX19
def wtf(x,y):
    g=("False")
    for z in x:
        if z==y:
            g=("True")
    print(g)

okan=["o","k","a","n"]
wtf(okan,"y")

False

In [251]:
#Optional exercises
#1

def cus_age(x):
    z=[]
    for y in x:
        z.append(2023-y)
    print(z)
asd=[1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
cus_age(asd)

[24, 28, 18, 13, 16, 17, 29, 27, 44, 15]

In [1]:
#2
def rem_min_max(ages):
    y=ages[0]
    for x in ages:
        if x>y:
            y=(x)
    ages.remove(y)
    y=ages[0]
    for x in ages:
        if x<y:
            y=(x)
    ages.remove(y)
    print(ages)
x = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
rem_min_max(x)

[20, 24, 14, 12, 13, 25, 23, 11]

In [2]:
#3
x = [15, 13, 16, 18, 19, 10, 12 ]
y = [7, 13, 15, 20, 19, 18, 10, 16]
def common_ages(berlin,munich):
    com_ages = []
    for x in berlin:
        for y in munich:
            if x==y:
                com_ages.append(y)
    print(com_ages)
common_ages(x,y)

[15, 13, 16, 18, 19, 10]

In [24]:
#4
def remove_duplicates (sam_list):
    result = [] 
    for i in sam_list: 
        if i not in result: 
            result.append(i)
    print(result)
x=[15,13,16,18,19,15,10]
remove_duplicates(x)

[15, 13, 16, 18, 19, 10]

In [57]:
#5
def seek_destroy(x):
    y=int(input())
    z=[]
    for i in x:
        if y==i:
            z.append("True")
    print(z)    
samp=[1,2,3,4,5,6,7,8,9]
seek_destroy(samp)

[]

In [64]:
#Intermediate
#1
def find_outliner(a):
    if a[0] % 2 != a[1] % 2:
        return a[0] if a[2] % 2 == a[1] % 2 else a[1]
    for i in a:
        if i % 2 != a[0] % 2:
            return i
hhh=[2,4,6,8,10,11,12,14]
find_outliner(hhh)

11

In [148]:
a=([ {"name": "Bart"}, {"name": "Lisa"}, {"name": "Maggie"} ])
b=([ {"name": "Lisa"}, {"name": "Maggie"} ])
c=([  {"name": "Maggie"} ])
d=([])
def nmlst(namelist):
    
    if len(namelist) == 0:
        return ""
    elif len(namelist) == 1:
        return namelist[0]["name"]
    else:
        return ",".join(i["name"] for i in namelist)
                
                
nmlst(a)

'Bart,Lisa,Maggie'

In [150]:
def namelist(names):
    if len(names) == 0:
        return ''
    elif len(names) == 1:
        return names[0]['name']
    else:
        return ', '.join(item['name'] for item in names[:-1]) + f" & {names[-1]['name']}"
    
x=([ {"name": "Bart"}, {"name": "Lisa"}, {"name": "Maggie"} ])
namelist(x)

'Bart, Lisa & Maggie'

In [ ]:
def filter_list(l):
  result = [];
  l = list(l);
  for element in l:
    if element != str(element):
      result.append(element);
  return result;

In [6]:
def getOddOccurrence(arr):
  
    # Initialize result
    res = 0
      
    # Traverse the array
    for element in arr:
        # XOR with the result
        res = res ^ element
  
    return res
  
# Test array
arr = [ 20,1,-1,2,-2,3,3,5,5,1,2,4,20,4,-1,-2,5]
  
print("%d" % getOddOccurrence(arr))

#   20  10100
#   1   00001
#   -1  00001
#   2   00010
#   -2  00010
#   3   00011
#   3   00011
#   5   00101
#   5   00101

5

In [3]:
examplestuff = [9]

In [6]:
abcd = 0
print(abcd)

0

In [7]:

testupload = (1,2,4,6)
print(testupload)

(1, 2, 4, 6)