In [96]:
import numpy as np
import pandas as pd

df=pd.read_csv("movies_2.csv") #gathering data
df.head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [5]:
df.shape

(616, 11)

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB
None

In [14]:
print(df.dtypes)

MovieID           int64
Title            object
MPAA Rating      object
Budget          float64
Gross           float64
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

In [10]:
df.describe()

,MovieID,Budget,Gross,Runtime,Rating,Rating Count
count,616.000000,6.150000e+02,6.150000e+02,615.000000,508.000000,5.080000e+02
mean,307.500000,9.491710e+07,4.453221e+08,118.642276,6.917323,3.392521e+05
std,177.968162,6.748114e+07,3.394075e+08,22.252376,0.888928,3.213388e+05
min,0.000000,6.000000e+04,5.300000e+07,79.000000,4.100000,1.491800e+04
25%,153.750000,4.000000e+07,2.158939e+08,102.000000,6.400000,1.275922e+05
50%,307.500000,8.000000e+07,3.510404e+08,117.000000,6.900000,2.403475e+05
75%,461.250000,1.400000e+08,5.851766e+08,132.000000,7.600000,4.257000e+05
max,615.000000,4.000000e+08,2.796000e+09,201.000000,9.000000,2.127228e+06

In [18]:
df.drop("Summary", axis=1)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
df=df.rename(str.lower, axis=1) 
df.columns=df.columns.str.replace(" ","_")
df.head()

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [53]:
df.drop(615)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN

In [69]:
df["Rating"].fillna(value=df["Rating"].median(), inplace=True)
df.sort_values(by='Rating', ascending=True)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
426,427,The Last Airbender,PG,150000000.0,3.185029e+08,2010-06-30,Adventure,103.0,4.1,139750.0,"Follows the adventures of Aang, a young succes..."
278,279,Spy Kids 3-D: Game Over,PG,38000000.0,1.970120e+08,2003-07-25,Family,84.0,4.2,50809.0,Carmens caught in a virtual reality game desig...
413,414,2012,PG-13,200000000.0,7.696536e+08,2009-10-10,Adventure,158.0,4.3,28949.0,NaN
438,439,Alvin and the Chipmunks: Chipwrecked,G,75000000.0,3.426954e+08,2011-12-14,Family,87.0,4.3,28949.0,"Playing around while aboard a cruise ship, the..."
227,228,Nutty Professor II: The Klumps,PG-13,84000000.0,1.233079e+08,2000-07-27,Comedy,106.0,4.4,46222.0,"Scientist Sherman Klumps inventions, his upcom..."
...,...,...,...,...,...,...,...,...,...,...,...
287,288,The Lord of the Rings: The Return of the King,PG-13,94000000.0,1.118889e+09,2003-12-01,Fantasy,201.0,8.9,1529953.0,Gandalf and Aragorn lead the World of Men agai...
99,100,Pulp Fiction,R,8000000.0,2.139288e+08,1994-09-10,Thriller,154.0,8.9,1690474.0,"The lives of two mob hitmen, a boxer, a gangst..."
98,99,Jurassic Park III,PG-13,93000000.0,3.688000e+08,2001-07-16,Thriller,92.0,8.9,1690474.0,A decidedly odd couple with ulterior motives ...
83,84,Schindler's List,R,22000000.0,3.213656e+08,1993-11-29,History,195.0,8.9,1117322.0,"In German-occupied Poland during World War II,..."
393,394,The Dark Knight,PG-13,185000000.0,1.004558e+09,2008-07-16,Action,152.0,9.0,2127228.0,When the menace known as the Joker wreaks havo...

In [71]:
df["Rating Count"].fillna(value=df["Rating Count"].median(), inplace=True)
df.sort_values(by='Rating Count', ascending=True)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
51,52,The Prince of Tides,R,30000000.0,7.478760e+07,1991-12-25,Romance,132.0,6.7,14918.0,A troubled man talks to his suicidal sisters p...
181,182,The Rugrats Movie,G,30000000.0,1.004917e+08,1998-11-20,Animation,79.0,5.9,17025.0,"Tommy, Chuckie, Phil and Lil gets lost in the ..."
121,122,Grumpier Old Men,PG-13,25000000.0,7.150000e+07,1995-12-22,Comedy,101.0,6.7,22759.0,John and Max resolve to save their beloved bai...
71,72,Boomerang,R,40000000.0,7.010000e+07,1992-06-30,Romance,117.0,5.5,24114.0,A successful executive and womanizer finds his...
413,414,2012,PG-13,200000000.0,7.696536e+08,2009-10-10,Adventure,158.0,4.3,28949.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
98,99,Jurassic Park III,PG-13,93000000.0,3.688000e+08,2001-07-16,Thriller,92.0,8.9,1690474.0,A decidedly odd couple with ulterior motives ...
99,100,Pulp Fiction,R,8000000.0,2.139288e+08,1994-09-10,Thriller,154.0,8.9,1690474.0,"The lives of two mob hitmen, a boxer, a gangst..."
403,404,Fast and Furious,PG-13,85000000.0,3.632000e+08,2009-04-03,Thriller,107.0,8.8,1888105.0,NaN
427,428,Inception,PG-13,160000000.0,8.255328e+08,2010-07-14,Action,148.0,8.8,1888105.0,A thief who steals corporate secrets through t...
393,394,The Dark Knight,PG-13,185000000.0,1.004558e+09,2008-07-16,Action,152.0,9.0,2127228.0,When the menace known as the Joker wreaks havo...

In [73]:
df.drop_duplicates(subset=['Title'])

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,6.9,240347.5,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,240347.5,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,240347.5,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.9,240347.5,NaN

In [75]:
df.astype({'Budget': 'int64'}).dtypes

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

In [130]:
df.isnull().count()

MovieID         616
Title           616
MPAA Rating     616
Budget          616
Gross           616
Release Date    616
Genre           616
Runtime         616
Rating          616
Rating Count    616
Summary         616
dtype: int64

In [135]:
df = df.dropna()

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 496 entries, 0 to 509
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       496 non-null    int64
 1   Title         496 non-null    object
 2   MPAA Rating   496 non-null    object
 3   Budget        496 non-null    float64
 4   Gross         496 non-null    float64
 5   Release Date  496 non-null    object
 6   Genre         496 non-null    object
 7   Runtime       496 non-null    float64
 8   Rating        496 non-null    float64
 9   Rating Count  496 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 46.5+ KB

In [137]:
df['Gross'] = df['Gross'].astype(int)

<ipython-input-137-efaad2ae65aa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gross'] = df['Gross'].astype(int)

In [138]:
df.astype({'Budget': 'int64'}).dtypes

MovieID           int64
Title            object
MPAA Rating      object
Budget            int64
Gross             int32
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

In [81]:
df["Release Date"]=pd.to_datetime(df["Release Date"])
display(df.dtypes)

MovieID                  int64
Title                   object
MPAA Rating             object
Budget                 float64
Gross                  float64
Release Date    datetime64[ns]
Genre                   object
Runtime                float64
Rating                 float64
Rating Count           float64
Summary                 object
dtype: object

In [83]:
df[(df["Rating"]>7) & (df["Gross"]> 50000000)]

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
6,7,When Harry Met Sally...,R,16000000.0,92800000.0,1989-07-21,Romance,96.0,7.6,180871.0,Harry and Sally have known each other for year...
...,...,...,...,...,...,...,...,...,...,...,...
505,506,Big Hero 6,PG,165000000.0,652105443.0,2014-10-24,Animation,102.0,7.8,380953.0,The special bond that develops between plus-si...
506,507,Interstellar,PG-13,165000000.0,675120017.0,2014-11-05,Science Fiction,169.0,8.6,1343549.0,A team of explorers travel through a wormhole ...
507,508,Captain America: The Winter Soldier,PG-13,170000000.0,714766572.0,2014-03-20,Action,136.0,7.7,685903.0,As Steve Rogers struggles to embrace his role ...
508,509,Dawn of the Planet of the Apes,PG-13,170000000.0,710644566.0,2014-06-26,Science Fiction,130.0,7.6,395425.0,A growing nation of genetically evolved apes l...
509,510,Guardians of the Galaxy,PG-13,170000000.0,773328629.0,2014-07-30,Action,121.0,8.0,978222.0,A group of intergalactic criminals must pull t...

In [84]:
df[(df["Rating"]>7) & (df["Gross"]> 50000000) & (df["MPAA Rating"]=="PG")]

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
7,8,Dead Poets Society,PG,16400000.0,2.358601e+08,1989-06-02,Drama,129.0,8.1,382002.0,English teacher John Keating inspires his stud...
13,14,Batman,PG,35000000.0,4.113489e+08,1989-06-23,Action,126.0,7.5,319517.0,The Dark Knight of Gotham City begins his war ...
15,16,The Little Mermaid,PG,40000000.0,2.223000e+08,1989-11-17,Animation,83.0,7.6,219221.0,A mermaid princess makes a Faustian bargain in...
16,17,Back to the Future Part II,PG,40000000.0,3.320000e+08,1989-11-20,Science Fiction,108.0,7.8,438940.0,"After visiting 2015, Marty McFly must repeat h..."
19,20,Steel Magnolias,PG,15000000.0,9.590409e+07,1989-11-15,Drama,119.0,7.3,43037.0,"A young beautician, newly arrived in a small L..."
24,25,Home Alone,PG,18000000.0,4.766847e+08,1990-11-09,Family,103.0,7.6,414472.0,An eight-year-old troublemaker must protect hi...
32,33,The Hunt for Red October,PG,30000000.0,1.992000e+08,1990-03-02,Thriller,134.0,7.6,167212.0,"In November 1984, the Soviet Unions best subma..."
34,35,Back to the Future Part III,PG,40000000.0,2.445276e+08,1990-05-25,Family,118.0,7.4,369652.0,"Learning about the death of Doc Brown in 1885,..."
45,46,Teenage Mutant Ninja Turtles II,PG,25000000.0,7.860000e+07,1991-03-22,Action,88.0,8.0,397467.0,The Turtles and the Shredder battle once again...
46,47,Beauty and the Beast,PG,25000000.0,3.773506e+08,1991-11-13,Animation,84.0,8.0,397467.0,A prince cursed to spend his days as a hideous...
49,50,Star Trek VI: The Undiscovered Country,PG,27000000.0,9.690000e+07,1991-12-05,Science Fiction,113.0,7.2,66086.0,"On the eve of retirement, Kirk and McCoy are c..."
72,73,A League of Their Own,PG,40000000.0,1.074588e+08,1992-07-01,Comedy,128.0,7.2,85932.0,Two sisters join the first female professional...
80,81,Groundhog Day,PG,14600000.0,7.090697e+07,1993-02-11,Comedy,101.0,8.0,549538.0,A weatherman finds himself inexplicably living...
106,107,Star Trek: Generations,PG,38000000.0,1.200000e+08,1994-11-17,Science Fiction,118.0,8.5,869127.0,With the help of long presumed dead Captain Ki...
126,127,Mr. Holland's Opus,PG,31000000.0,1.062700e+08,1995-12-29,Family,137.0,7.3,33906.0,A frustrated composer finds fulfillment as a h...
130,131,Apollo 13,PG,52000000.0,3.552379e+08,1995-06-30,Drama,140.0,7.6,250975.0,NASA must devise a strategy to return Apollo 1...
174,175,Contact,PG,90000000.0,1.711203e+08,1997-07-11,Science Fiction,150.0,7.4,239569.0,"Dr. Ellie Arroway (Jodie Foster), after years ..."
185,186,The Truman Show,PG,60000000.0,2.641182e+08,1998-06-04,Comedy,103.0,8.1,859224.0,An insurance salesman discovers his whole life...
188,189,The Prince of Egypt,PG,70000000.0,2.186132e+08,1998-12-15,Animation,99.0,7.1,110340.0,An Egyptian prince learns of his identity as a...
215,216,Tarzan,PG,150000000.0,4.480000e+08,1999-06-18,Animation,88.0,7.3,187724.0,A man raised by gorillas must decide where he ...
220,221,Remember the Titans,PG,30000000.0,1.367067e+08,2000-09-29,Drama,113.0,7.8,186997.0,The true story of a newly appointed African-Am...
241,242,Shrek,PG,60000000.0,4.844092e+08,2001-05-16,Animation,90.0,7.8,574978.0,A mean lord exiles fairytale creatures to the ...
255,256,Harry Potter and the Sorcerer's Stone,PG,125000000.0,9.751000e+08,2001-11-04,Fantasy,152.0,7.6,583224.0,An orphaned boy enrolls in a school of wizardr...
261,262,Ice Age,PG,59000000.0,3.832571e+08,2002-03-10,Animation,81.0,7.5,411963.0,"Set during the Ice Age, a sabertooth tiger, a ..."
270,271,Harry Potter and the Chamber of Secrets,PG,100000000.0,8.766885e+08,2002-11-13,Fantasy,161.0,7.4,505027.0,An ancient prophecy seems to be coming true wh...
304,305,The Incredibles,PG,92000000.0,6.314421e+08,2004-11-05,Animation,115.0,8.0,617102.0,"A family of undercover superheroes, while tryi..."
309,310,Harry Potter and the Prisoner of Azkaban,PG,130000000.0,7.898046e+08,2004-05-31,Fantasy,141.0,7.9,501648.0,Its Harrys third year at Hogwarts; not only do...
311,312,Shrek 2,PG,150000000.0,9.198388e+08,2004-05-19,Animation,93.0,7.2,391295.0,Princess Fionas parents invite her and Shrek t...
385,386,Kung Fu Panda,PG,130000000.0,6.317446e+08,2008-06-04,Animation,90.0,7.5,390478.0,The Dragon Warrior has to clash against the sa...
410,411,Monsters vs Aliens,PG,175000000.0,3.815099e+08,2009-03-19,Animation,94.0,7.7,374981.0,NaN
411,412,Up,PG,175000000.0,7.350991e+08,2009-05-13,Animation,96.0,8.2,867393.0,Seventy-eight year old Carl Fredricksen travel...
415,416,Harry Potter and the Half-Blood Prince,PG,250000000.0,9.339592e+08,2009-07-07,Fantasy,153.0,7.6,429384.0,As Harry Potter begins his sixth year at Hogwa...
420,421,Despicable Me,PG,69000000.0,5.435140e+08,2010-07-08,Animation,95.0,7.6,473121.0,When a criminal mastermind uses a trio of orph...
425,426,Megamind,PG,130000000.0,3.218872e+08,2010-10-28,Animation,95.0,7.2,212563.0,The supervillain Megamind finally defeats his ...
428,429,How to Train Your Dragon,PG,165000000.0,4.948788e+08,2010-03-05,Animation,98.0,8.1,624128.0,A hapless young Viking who aspires to hunt dra...
435,436,Tangled,PG,260000000.0,5.917949e+08,2010-11-24,Animation,100.0,7.7,374981.0,The magically long-haired Rapunzel has spent h...
447,448,Puss in Boots: The Three Diablos,PG,130000000.0,5.550000e+08,2011-12-08,Animation,130.0,7.8,727724.0,NaN
451,452,Kung Fu Panda 2,PG,150000000.0,6.656923e+08,2011-05-25,Animation,91.0,7.2,234612.0,Po and his friends fight to stop a peacock vil...
461,462,Hotel Transylvania,PG,85000000.0,3.583756e+08,2012-09-20,Animation,91.0,7.1,208916.0,"Dracula, who operates a high-end resort away f..."
466,467,Wreck-It Ralph,PG,165000000.0,4.712229e+08,2012-11-01,Animation,108.0,7.7,354202.0,A video game villain wants to be a hero and se...
468,469,Brave,PG,185000000.0,5.389832e+08,2012-06-21,Animation,93.0,7.1,346490.0,"Determined to make her own path in life, Princ..."
480,481,Despicable Me 2,PG,76000000.0,9.707619e+08,2013-06-25,Animation,98.0,7.4,350582.0,"When Gru, the worlds most super-bad turned sup..."
484,485,The Croods,PG,135000000.0,5.851789e+08,2013-03-20,Animation,98.0,7.2,180043.0,"After their cave is destroyed, a caveman famil..."
485,486,Frozen,PG,150000000.0,1.274219e+09,2013-11-27,Animation,102.0,7.5,527284.0,When the newly-crowned Queen Elsa accidentally...
498,499,The Lego Movie,PG,60000000.0,4.691607e+08,2014-02-06,Animation,100.0,7.8,309295.0,"An ordinary LEGO construction worker, thought ..."
503,504,How to Train Your Dragon 2,PG,145000000.0,6.091230e+08,2014-06-12,Animation,102.0,7.8,285394.0,When Hiccup and Toothless discover an ice cave...
505,506,Big Hero 6,PG,165000000.0,6.521054e+08,2014-10-24,Animation,102.0,7.8,380953.0,The special bond that develops between plus-si...

In [104]:
df[(df["Genre"]=="Animation") & (df["Rating"]>7)].shape

(39, 11)

In [109]:
df.sort_values(by=["Budget"], ascending=False).head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
594,595,Avengers: Infinity War,PG-13,400000000.0,2.048000e+09,2018-04-23,Action,149.0,NaN,NaN,NaN
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000.0,1.045714e+09,2011-05-14,Action,136.0,6.6,455211.0,Jack Sparrow and Barbossa embark on a quest to...
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
574,575,Star Wars: The Last Jedi,PG-13,317000000.0,1.333000e+09,2019-12-09,Science Fiction,152.0,NaN,NaN,NaN
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000.0,9.610000e+08,2007-05-19,Adventure,169.0,7.1,565402.0,"Captain Barbossa, Will Turner and Elizabeth Sw..."

In [110]:
df[(df["Genre"]=="Comedy")].sort_values(by=["Rating"], ascending=False).head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
111,112,Forrest Gump,PG-13,55000000.0,677945399.0,1994-07-06,Comedy,142.0,8.8,1657851.0,"The presidencies of Kennedy and Johnson, the e..."
185,186,The Truman Show,PG,60000000.0,264118201.0,1998-06-04,Comedy,103.0,8.1,859224.0,An insurance salesman discovers his whole life...
80,81,Groundhog Day,PG,14600000.0,70906973.0,1993-02-11,Comedy,101.0,8.0,549538.0,A weatherman finds himself inexplicably living...
254,255,"Monsters, Inc.",G,115000000.0,562816256.0,2001-11-01,Comedy,92.0,8.0,758349.0,"In order to power the city, monsters have to s..."
316,317,The 40 Year Old Virgin,R,26000000.0,109449237.0,2005-08-11,Comedy,116.0,7.7,500448.0,"Goaded by his buddies, a nerdy guy who's never..."

In [113]:
df.sort_values(by=["Rating"], ascending=False).head(5)["Title"]

393                                  The Dark Knight
98                                 Jurassic Park III
287    The Lord of the Rings: The Return of the King
99                                      Pulp Fiction
83                                  Schindler's List
Name: Title, dtype: object

In [118]:
df[(df["Genre"]=="Romance") & (df["Release Date"]>="2000-01-01")].sort_values(by=["Gross"], ascending=False).head(3)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
464,465,The Twilight Saga: Breaking Dawn - Part 2,PG-13,120000000.0,829000000.0,2012-11-13,Romance,115.0,5.5,218357.0,"After the birth of Renesmee/Nessie, the Cullen..."
442,443,The Twilight Saga: Breaking Dawn - Part 1,PG-13,110000000.0,712171856.0,2011-03-15,Romance,117.0,4.9,211592.0,The Quileutes close in on expecting parents Ed...
401,402,The Twilight Saga: New Moon,PG-13,50000000.0,709827462.0,2009-03-15,Romance,130.0,4.7,252223.0,Edward leaves Bella after an attack that nearl...

In [126]:
df.Genre.value_counts()

Action             110
Comedy              99
Animation           87
Drama               66
Thriller            41
Science Fiction     37
Adventure           30
Family              29
Romance             28
Fantasy             27
Crime               17
Horror              14
Mystery             11
War                  9
Western              6
History              4
Name: Genre, dtype: int64