In [10]:
pip install geopy

Requirement already satisfied: geopy in c:\users\asus\anaconda3\lib\site-packages (2.4.0)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\asus\anaconda3\lib\site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
from geopy.geocoders import Nominatim
import pandas as pd

# Read the CSV file
df = pd.read_csv('adresses.csv')

# Initialize the Nominatim geocoder
geolocator = Nominatim(user_agent="myGeocoder")

# Initialize an empty list to store geocodes
geocodes = []

# Loop through the addresses and geocode
for adress in df['AdressID']:
    location = geolocator.geocode(adress)
    
    if location is not None:
        latitude = location.latitude
        longitude = location.longitude
        geocodes.append((adress, latitude, longitude))
    else:
        geocodes.append((adress, None, None))

# Create a new DataFrame for geocodes
geocode_df = pd.DataFrame(geocodes, columns=['AdressID', 'Latitude', 'Longitude'])

# Save the geocodes to a new CSV file
geocode_df.to_csv('geocodes.csv', index=False)

In [16]:
geocode_df

     AdressID   Latitude   Longitude
0           1  42.680047  -90.121009
1           2  42.459257  -90.664971
2           3  46.947732  -91.783453
3           4  36.612521  139.975063
4           5  32.640750   -6.207105
..        ...        ...         ...
627       628  35.748767  139.701573
628       629  37.534920  126.986577
629       630  65.980870  -18.376281
630       631  31.899568   35.178888
631       632  23.710183  120.434527

[632 rows x 3 columns]